html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

body {
  font-family: 'Open Sans', serif;
  margin: 20px;
  background-color: #fafafa;
  color: #888;
}

* {
  outline: 0;
  font-family: sans-serif
}

span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit
}

.container .row {
  margin-bottom: 12px;
}

.container {
  width: 850px;
  max-width: 850px;
  margin: 20px auto 0;
  padding: 20px 20px 5px 20px;
  background: #fff;
  text-align: left;
  border: 1px solid #eee;
  box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px; 
}

.modal-container {
  padding: 20px 20px 5px 20px;
}

.modal-container a {
  color: #777;
  text-decoration: none;
}

.field-name {
  font-weight: bold;
}

.popover {
  max-width: 600px;
}

.dropdown {
  width: 100%;
  display: inline-block;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  min-height: 32px;
  text-align: left;
}
.dropdown .select {
  cursor: pointer;
  display: block;
  padding: 6px;
}
.dropdown .select > .icon {
  filter: invert(59%) sepia(2%) saturate(3%) hue-rotate(37deg) brightness(91%) contrast(87%);
  margin-top: 2px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  float: right;
}
.dropdown:hover {
  box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
  background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
  box-shadow: 0 0 4px rgb(204, 204, 204);
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8
}
.dropdown.active .select > .icon {
  transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 1px;
  box-shadow: 0 1px 2px rgb(204, 204, 204);
  overflow: hidden;
  display: none;
  max-height: 350px;
  overflow-y: auto;
  z-index: 9
}
.dropdown .dropdown-menu li {
  padding: 6px;
  cursor: pointer;
  color: #888;
  font-size: 14px;
} 
.dropdown .dropdown-menu {
  padding: 0;
  list-style: none
}
.dropdown .dropdown-menu li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.dropdown .dropdown-menu li:hover {
  background-color: #f2f2f2;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}
.dropdown .dropdown-menu li:active {
  background-color: #e2e2e2;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

.form-radio {
  margin: 0px;
}
.form-radio input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px; 
}

.form-radio input + label {
  background-color: #fff;
  padding: 6px 10px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  background-color: #FFF;
  font-size: 14px;
  color: #888;
  text-align: center;
  transition: border-color .15s ease-out,  color .25s ease-out, background-color .15s ease-out, box-shadow .15s ease-out;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px; 
  cursor: pointer;
}

.form-radio input:checked + label {
  background-color: rgba(151, 201, 71, 0.95);
  border-radius: 4px;
  box-shadow: 0px 0px 3px 3px rgba(151, 201, 71, 0.5);
  color: #FFF;
  z-index: 1; 
}

.form-radio > input:hover:not([disabled]):not(:checked) + label,
.form-radio > .warning input:hover:not([disabled]):not(:checked) + label {
  box-shadow: 0px 0px 3px 3px rgba(200, 200, 200, 0.3);
}

.form-radio > .warning input:checked + label {
  background-color: rgba(252, 185, 53, 0.95);
  border-radius: 4px;
  box-shadow: 0px 0px 3px 3px rgba(252, 185, 53, 0.3);
}
.form-radio input:focus + label {
  outline: none; 
}

.submit:hover {
  border-radius: 4px;
  box-shadow: 0px 0px 3px 3px rgba(29, 160, 242, 0.3);
}

.selectedinput {
  border-radius: 4px !important;
  box-shadow: 0px 0px 3px 3px rgba(151, 201, 71, 0.3) !important;
}

.custom-control-input:checked~.custom-control-label::before {
  border-color: #2f7abd !important;
  background-color: #2f7abd !important;
}

.bold {
  font-weight: 600;
}
.metadata .value {
  font-size: 18px;
}
.circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}

.circle-red {
  border: 2px solid rgba(212, 40, 89, 0.75);
  background: rgba(212, 40, 89, 0.08);
  box-shadow: 2px 2px 8px -3px rgba(212, 40, 89, 0.4);
}
.circle-orange {
  border: 2px solid rgba(255, 180, 51, 0.75);
  background: rgba(255, 180, 51, 0.08);
  box-shadow: 2px 2px 8px -3px rgba(255, 180, 51, 0.4);
}
.circle-orange .value {
    color: rgba(255, 180, 51, 1);
}
.circle-red .value {
    color: rgba(212, 40, 89, 1);
}

.circle-hidden {
  border-radius: 50%;
  margin: 2px;
}
.metadata .description {
  font-size: 12px;
  color: #bababa;
}
.description {
  margin-bottom: 0.5rem;
}
.progress-repeats {
  position: relative;
  left: 0px
}
.progress-repeats .fixw {
  width: 18.2px;
  display: inline-block;
  font-size: 12px;
  color: #bababa;
  position: relative;
  transform: translate(-9px, 0) rotate(-60deg);
  transform-origin: top right;
  text-align: right !important;
}

input {
  border: solid 2px #ebebeb;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  padding: 16px 30px 16px 140px;
}


input::placeholder {
  font-size: 14px;
  text-align: left;
  color: #bdb8b8 !important;
}

.form-control {
  border: solid 1px #ebebeb !important;
  font-size: 14px !important;
}

.container .row .col-label label,
.modal-container .row .col-label label {
  font-weight: 600;
  color: #888;
  font-size: 15px;
}

.col-form-label {
  color: #888;
  padding-top: 1px;
  font-weight: 600;
  font-size: 15px;
}

.container .row .col-label label {
  padding-top: 8px;
}

.nav-link {
  padding: 0.6rem 0.5rem 0.5rem 0.5rem !important;
}

.icon {
  display: inline-block;
  overflow: hidden;
  width: 16px;
  height: 16px;
  filter: invert(42%) sepia(5%) saturate(5%) hue-rotate(322deg) brightness(89%) contrast(80%);
}

.icon-color-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(97deg) brightness(103%) contrast(103%);
}

.icon-color-orange {
  filter: invert(78%) sepia(40%) saturate(1032%) hue-rotate(348deg) brightness(98%) contrast(107%);
}

.icon-color-blue {
filter: invert(52%) sepia(48%) saturate(767%) hue-rotate(140deg) brightness(92%) contrast(87%);
}

.icon-color-info {
  filter: invert(52%) sepia(48%) saturate(767%) hue-rotate(140deg) brightness(92%) contrast(87%);
}

.icon-color-warning {
  filter: invert(84%) sepia(18%) saturate(7496%) hue-rotate(352deg) brightness(107%) contrast(104%);
}

.icon-color-danger {
  filter: invert(25%) sepia(58%) saturate(2919%) hue-rotate(335deg) brightness(95%) contrast(88%);
}

.icon-size-small {
  width: 14px;
  height: 14px;
}

.icon-size-tiny {
  width: 8px;
  height: 8px;
}

.icon-btn-bottom {
  vertical-align: bottom;
}

input[type=checkbox]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: none;
}

input[type=checkbox]:not(old) + label {
  display: inline-block;
}

input[type=checkbox]:not(old) + label > span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 15px;
  margin-bottom: 5px;
  border: 2px solid #ebebeb;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  background: white;
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
  vertical-align: bottom; }

input[type=checkbox]:not(old):checked + label > span {
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white); }

input[type=checkbox]:not(old):checked + label > span:before {
  content: '\f26b';
  display: block;
  color: #222;
  font-size: 11px;
  line-height: 1.1;
  text-align: center;
  font-weight: bold;
}

input[type=radio][disabled] + label {
  color: #ccc;
}

.submit {
  background: #1da0f2;
  color: #FFF;
  border: none;
  padding: 15px 20px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px; 
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

input {
  padding: 16px 30px 16px 100px;
} 

.hr-faint {
  border-top: 1px solid rgba(0,0,0,0.05) !important;
}

.mainlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: 280px;
  opacity: 0.9;
}

.limited_to_text {
  display: block;
  position: absolute;
  right: 20px;
  z-index: 3;
  font-size: 12px;
  font-style: italic;
  text-align: right;
}

.limited_to_text a:hover {
  text-decoration: underline;
}

.modal-geneinfo {
  height: 500px;
}

.tooltip-inner {
  max-width: 600px !important;
}
.loading {
  padding-top: 250px
}

.gap {
  margin-top: 15px;
}

.notification-toast {
  position: absolute;
  top: 60px;
  right: 20px;
  max-width: 305px;
  z-index: 2;
}

.btn-sm {
  padding: 0.3em;
  line-height: 1.2;
}
.btn-primary {
  background: #1da0f2;
  color: #FFF;
  border: 1px #2193db solid;
}
.btn-primary:hover {
  background: #0c85d0; 
}

.btn-light {
  border: 1px solid #eee !important;
}
.text-primary {
  color: #1da0f2;
}

.modal, .modal-dialog, .modal-content {
  max-height: 760px !important;
}
.modal-footer {
  padding: 0.30rem;
}
.transparent {
  opacity: 0;
}

.results_label {
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  white-space: nowrap;
}

.results_value {
  font-size: 14px;
  line-height: 30px;
  white-space: nowrap;
}

.results_value-lg {
  font-size: 18px;
}

.population-outlier {
  height: 5px;
  width: 5px;
  background-color: rgba(225, 63, 235, 0.75);
  border-radius: 50%;
  display: inline-block;
  vertical-align: super;
  position: absolute;
  top: 3px;
  right: 3px;
}

.text-population-outlier {
  position: relative;
  display: inline-block;
  vertical-align: super;
  top: -3px;
  background-color: rgba(225, 63, 235, 0.75);
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.selectfilebox {
  width: 100%;
  text-align: left !important;
  word-break: break-all;
}

.processing-text {
  font-size: 12px;
  color: #4f4f4f;
  opacity: 0.7;
  position: absolute;
  left: 132px;
  top: 188px;
}

.processing-timer {
  font-size: 16px;
  color: #2f7abd;
  position: absolute;
  left: 205px;
  top: 99px;
}

.badge {
  width: 80px;
  opacity: 0.8;
  position: relative;
}

.badge-pathogenic {
  border: 1px solid rgba(212, 40, 89); background: rgba(212, 40, 89, 0.1); 
  color: rgba(212, 40, 89, 0.9);
  box-shadow: 4px 4px 12px -1px rgba(212, 40, 89, 0.4);
}
.badge-normal {
  border: 1px solid rgba(113, 191, 44); background: rgba(113, 191, 44, 0.1); 
  color: rgba(113, 191, 44, 0.9); 
  box-shadow: 4px 4px 12px -1px rgba(113, 191, 44, 0.4);
}
.badge-intermediate {
  border: 1px solid rgba(255, 180, 51); background: rgba(255, 180, 51, 0.1); 
  color: rgba(255, 180, 51, 0.9); 
  box-shadow: 4px 4px 12px -1px rgba(255, 180, 51, 0.4);
}
.badge-unknown {
  border: 1px solid rgba(138, 138, 138); background: rgba(138, 138, 138, 0.1); 
  color: rgba(138, 138, 138, 0.9); 
  box-shadow: 4px 4px 12px -1px rgba(138, 138, 138, 0.4);
}

.arrowpoint {
  width: 0;
  height: 0;
  position:relative;
  top: -8px;
  left: 3px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #dc3545;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  float: right;
}

.coverageChart,
.coverageChartContainer {
  height: 110px;
  z-index: 2;
}

.populationChartContainer {
  position: relative;
  left: -2px;
  top: -12px;
  height: 160px;
  z-index: 2;
}

.population-title  {
  font-size: 14px;
}

.population-options ul {
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
  white-space: nowrap;
}

.metadata a,
.population-options ul a {
  text-decoration: none;
}

.metadata a:hover,
.population-options ul a:hover {
  text-decoration: underline;
}

/* Loading screen */
.loader {
  position: absolute;
  left: 131px;
  top: 49px;
    display: flex;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #fff;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}
.loader .loader-inner-1 {
    width: 3px;
    height: 33px;
    border-radius: 100px;
    background: #2f7abd;
    position: absolute;
    top: 50%;
    transform-origin: top;
    -webkit-animation: loading-1 1s linear infinite;
    animation: loading-1 1s linear infinite;
}
.loader .loader-inner-2 {
    width: 3px;
    height: 21px;
    border-radius: 100px;
    background: #2f7abd;
    position: absolute;
    top: 50%;
    transform-origin: top;
    -webkit-animation: loading-1 60s linear infinite;
    animation: loading-1 60s linear infinite;
}
.loader .loader-inner-3 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #2f7abd;
    margin: -2px 0 0 -2px;
}
@-webkit-keyframes loading-1 {
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
@keyframes loading-1 {
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

/* Animations */
/* .mainlogo {
  width: 400px;
  animation-name: moveUp;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  margin-top: 280px;
}

@keyframes moveUp {
  from {
    width: 400px;
    margin-top: 280px
  }
  to {
    width: 300px;
    margin-top: 0px
  }
}

.fadeInAnimation {
  opacity: 0;
  animation:fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 3.5s;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } } */
